:where(p) {
    margin: 0 0 calc(var(--text-line-height) * 1em);
}
:where(p:last-of-type) {
    margin-bottom: 0;
}
:where(p a) {
    color: var(--color-60);
    -webkit-text-decoration: underline;
    text-decoration: underline;
}
:where(p a:hover) {
    color: var(--color-80);
}
body {
    min-height: 100vh;
}
:where(button, [type="button"], [type="reset"], [type="submit"]) {
    appearance: none;
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    line-height: inherit;
}
:where(input, select, textarea) {
    appearance: none;
    font: inherit;
    color: inherit;
}
